# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
dist/
client/dist/
build/

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel & IDE
.vercel
.vscode/
.idea/

# OS Junk
.DS_Store
Thumbs.db
